@import 'compass/reset';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	@include fontSize(18px);
	font-weight: 400;
	color: $default-color;
}

a {
	text-decoration: none;
	@include transition(.3s ease-in all);
}

img {
	max-width: 100%;
	height: auto;
}

.primary {
	height: 599px;
	background-color: #f6f6f6;
}
.wrapper {
	max-width: 100%;
	width: 982px;
	margin: 0 auto;
	text-align: center;
}
.secondary {
	height: 682px;
	background-color: #fff;
}
.troisieme {
	height: 682px;
	background: url('../images/banner-foret.png') no-repeat bottom center transparent;
	position: relative;
	text-align: left;
}

#main {
	margin-bottom: 50px;	
	
}