#header {
	position: relative;
	height: 100vh;
	padding-top: 50px;
	padding-bottom: 110px;
	font-size: 0;
	background: url('../images/banner.jpg') no-repeat bottom center transparent;
	@include background-size(cover);

	#logo,
	#menu {
		display: inline-block;
		vertical-align: middle;
		width: 20%;
	}

	#logo {
		a {
			#logo-svg {
				fill: #fff;
			}

			&:hover,
			&:focus {
				#logo-svg {
					fill: $default-color;
				}
			}
		}
	}

	#menu {
		margin-left: 5%;
		width: 75%;
		text-align: right;
		.sub-menu{
			display: none;
			position: absolute;
			color: $default-color;
			width: 200px;
			text-align: left;
			li{
				display: block;
				padding: 5px;
				&:hover {
					background-color: rgb(160, 13, 13);
					color:  rgb(255, 255, 255);
					width: 200px;
				}
			}
		}

		li {
			display: inline-block;
			vertical-align: bottom;
			margin-right: 5%;
			@include fontSize(17px);
			&:hover .sub-menu{
				display: block;
				background-color: rgb(255, 255, 255);
				width: 200px;
				
			}
			&.current-menu-item a{
				font-weight: 700;
				
				&.after{
				width: 100%;
				}

			}
			&.button-menu {
				margin-right: 0;

				a {
					display: block;
					padding: 10px 20px;
					border: 1px solid #fff;
					@include border-radius(20px);

					&:hover,
					&:focus {
						background-color: #fff;
						color: $title-color;
					}
					&:after {
						display: none;				
					}
				}
			}

			a {
				color: #fff;

				&:hover,
				&:focus {
					&:after{
						width: 100%;
					}

				}
					&:after{
						width: 0;
						height: 2px;
						background-color: #fff;
						display: block;
						content: '';
						@include transition (.3s ease-in all);
						margin-top: 10px;
					}	
			}
		}
	}

	#banner {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		text-align: center;
		@include fontSize(16px);

		h1 {
			margin-bottom: 20px;
			@include fontSize(44px);
			color: #fff;
			font-weight: 700;
		}

		.description-banner {
			margin-bottom: 60px;
			color: #ea7e44;
			line-height: 30px;
		}

		.buttons-banner {
			
			.button {
				padding: 10px 35px;
				@include border-radius(30px);
				border: 1px solid #fff;
				color: #fff;
				font-weight: 300;
				margin-right: 5%;

				&:last-child {
					margin-right: 0;
				}

				&:hover,
				&:focus,
				&.btn-primary {
					color: $title-color;
					background-color: #fff;
				}

				&.btn-primary {
					&:hover,
					&:focus {
						background-color: transparent;
						color: #fff;
					}
				}
			}
		}
	}
}

#drones {
	font-size: 0;
	

	article {
		display: inline-block;
		text-align: center;
		width: 25%;
		margin-top: 60px;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			margin-top: 0;
		}

		&:nth-child(4n) {
			margin-right: 0;
		}

		@media (max-width: 900px) {
			width: 47%;
			margin-right: 6%;

			&:nth-child(3) {
				margin-top: 45px;
			}

			&:nth-child(3n) {
				margin-right: 6%;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media (max-width: 470px) {
			width: 100%;
			margin-right: 0;
			margin-top: 25px;

			&:nth-child(2),
			&:nth-child(3) {
				margin-top: 25px;
			}

			&:nth-child(3n),
			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		.drone {
			width: 100%;
			margin-top: 113px;
			display: inline-block;
		}

		.image-drone,
		.content-drones {
			vertical-align: center;

			@media (max-width: 470px) {
				width: 30%;
			}
		}

		.content-drones {
			text-align: center;
			padding: 25px 5%;
			@include fontSize($default-size);

			@media (max-width: 1420px) {
				position: static;
			}

			@media (max-width: 470px) {
				width: 70%;
			}

			.title-drones {
				margin-bottom: 20px;
				@include fontSize(30px);
				font-weight: $bold-font;
				color: #ca0034;
				text-align: center;
				vertical-align: top;
			}

			.description {
				display: inline-block;
				padding: 3px 10px;
				@include fontSize(18px);
				color:#5e6372;
				text-align: center;
			}
		.image-drone {
			vertical-align: middle;
			a {
				&:hover,
				&:focus {
					img {
						opacity: .8;
					}
				}	
			}

			img {
				display: block;
				width: 100%;
				@include transition(.3s ease-in all);
			}
		}
	}
}
}
#bouton {
	.bouton-askforpriece{
	display: inline-block;
	margin: 0 auto;
	margin-top: 103px;
	padding: 10px 35px;
	@include border-radius(30px);
	border: 1px solid #264699;
	color: #fff;
	background-color: #264699;
	font-weight: 300;
	margin-right: 5%;
	margin-bottom: 102px;

	&:last-child {
		margin-right: 0;
	}

		&:hover,
		&:focus
		{
			color: $title-color;
			border: 1px solid #264699;
			background-color: #ffffff;
		}
	}	
}

#numeros {
	font-size: 0;
	text-align: left;
	margin-top: 117px;
	.title-red {
		color: $title-color;
		@include fontSize(44px);
		font-weight: $bold-font;
	}
	.petite-description {
		color: $default-color;
		@include fontSize(18px);
		font-weight: $light-font;
		margin-top: 33px;
	}
	article {
		display: inline-block;
		text-align: left;
		width: 45%;
		margin-top: 45px;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			margin-top: 0;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}

		@media (max-width: 900px) {
			width: 47%;
			margin-right: 6%;

			&:nth-child(3) {
				margin-top: 45px;
			}

			&:nth-child(3n) {
				margin-right: 6%;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media (max-width: 470px) {
			width: 100%;
			margin-right: 0;
			margin-top: 25px;

			&:nth-child(2),
			&:nth-child(3) {
				margin-top: 25px;
			}

			&:nth-child(3n),
			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		.article-numeros {
			width: 100%;
			margin-top: 52px;
			display: inline-block;
		}

		.image-article-numeros,
		.content-article-numeros {
			vertical-align: left;

			@media (max-width: 470px) {
				width: 30%;
			}
		}
		.numero-1{
			
			text-align: left;
			position: absolute;
		}

		.description {
			text-align: left;
			position: relative;
			@include fontSize(14px);
			color: #a7acbc;
			margin-left: 75px;
			margin-top: 4px;

			@media (max-width: 1420px) {
				position: static;
			}

			@media (max-width: 470px) {
				width: 70%;
			}
		}
	}
}
#box{
	border: #fff;
	background-color: white;
	width: 689px;
	height: 378px;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 270px;
	right: 0;
	.texte{
		height: 155px;
		width: 560px;
		margin-top: 63px;
		margin-bottom: 63px;
		text-align: left;
		display: inline-block;
		vertical-align: middle;
	
		.title-red {
			color: $title-color;
			@include fontSize(44px);
			font-weight: $bold-font;
		}
		.petite-description {
			color: $default-color;
			@include fontSize(18px);
			font-weight: $light-font;
			margin-top: 33px;
		}
	}
	.bouton-article{
		display: inline-block;
		margin-left: 70px;
		padding: 10px 35px;
		@include border-radius(30px);
		border: 1px solid #264699;
		color: #fff;
		background-color: #264699;
		font-weight: 300;
		margin-right: 5%;
		margin-bottom: 44px;
	
		&:last-child {
			margin-right: 0;
		}
	
			&:hover,
			&:focus
			{
				color: $title-color;
				border: 1px solid #264699;
				background-color: #ffffff;
			}
		}	
}