@import 'compass';
@import 'compass/reset';

// Vars
$default-color: #5e6372;
$title-color: #ca0034;
$default-size: 18px;

$light-font: 300;
$regular-font: 600;
$semiBold-font: 600;
$bold-font: 700;

// Imports files
@import 'mixins';
@import 'default';
@import 'header';
@import 'home';
